// The default breakpoints squeeze the horizontal reading space on mobile
// landscape. (e.g., Pixel 783, Pixel Pro 892).
// Removed the medium breakpoint 768, slid the others up, with a new 2500px
// breakpoint at 2500.
$breakpoints: (
    sm: 640px,
    md: 1024px, // Boosted this so mobile landscape wouldn't lose horizontal space
    lg: 1180px, // Reduced this so the switch to adding table of contents would be less jarring
    xl: 1300px, // Reduced this so table of contents with wide content space would happen at narrower width
    2xl: 2500px, // Raised this for large screens
);

@mixin respond($breakpoint) {
    @if not map-has-key($breakpoints, $breakpoint) {
        @warn "'#{$breakpoint}' is not a valid breakpoint";
    } @else {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}