/*
    You can add your own custom styles here.
*/

.tagCloud .tags {
    a {
        text-transform: lowercase;
    }
}

.article-tags {
    a {
        background-color: var(--body-background);
        color: var(--body-text-color);
        text-transform: lowercase;
    }
    a:before {
        content: "#";
    }
}


section.callout {
    color:  var(--card-text-color-secondary);
    background-color: var(--blockquote-background-color);
    margin: 1.5em 0;
    padding: 10px calc(var(--card-padding) - 10px);
    position: relative;
    // Default color
    border-inline-start: var(--blockquote-border-size) solid var(--card-separator-color);
}

[data-scheme="light"] {
    @import "partials/highlight/light.scss";
    section.callout-info {
        border-inline-start: var(--blockquote-border-size) solid $name-color; 
        background-color: rgba($name-color, 0.05);
    }
    section.callout-important {
        border-inline-start: var(--blockquote-border-size) solid $keyword-color;
        background-color: rgba($keyword-color, 0.05);
    }
    section.callout-error {
        border-inline-start: var(--blockquote-border-size) solid $error-color; 
        background-color: rgba($error-color, 0.05);
    }
}

[data-scheme="dark"] {
    @import "partials/highlight/dark.scss";
    section.callout-info {
        border-inline-start: var(--blockquote-border-size) solid $name-color; 
        // p:before {
        //     content: "📗\2002"
        // }
        background-color: rgba($name-color, 0.05);
    }


    section.callout-important {
        border-inline-start: var(--blockquote-border-size) solid $keyword-color; 
        // p:before {
        //     content: "📘\2002"
        // }
        background-color: rgba($keyword-color, 0.05);
    }
    section.callout-error {
        border-inline-start: var(--blockquote-border-size) solid $error-color; 
        // p:before {
        //     content: "📕\2002"
        // }
        background-color: rgba($error-color, 0.05);
    }
}

footer.context {
    display: inline;
    color: var(--card-text-color-tertiary);
    gap: 15px;
}

figure.diagram img {
    opacity: 0.75;
}
